.App {
  text-align: center;
}

.profile {
  height: 200px;
  margin-left: 20px;
}

.passport {
  border: 2px solid black;
  height: 300px;
  width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

input {
  width: 300px;
  margin: 6px;
}

.flex {
  display: flex;
}
.results {
  margin-left: 20px;
}
